:root{
    --colot_black: #0B0223;
    --colot_praimary: #8758F1;
    --color_secendary: #F948B2;
    --text-Primary: #3C354F;
}
/*======================= 
 Common Style Starts here 
=========================*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    outline: none;
    border: none;
    font-family: 'Work Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6{
   line-height: 0.8;
}
.btn_praimary{
    font-size: 1.25rem;
    font-weight: 600;
    color: #FFF;
    background-color: var(--color_secendary);
    padding: 20px 40px;
    text-transform: uppercase;
    border-radius: 48px;
    -webkit-border-radius: 48px;
    -moz-border-radius: 48px;
    -ms-border-radius: 48px;
    -o-border-radius: 48px; 
}
.container{
   max-width: 1140px;
   margin: 0 auto;
}
/*===================== 
 Common Style ends here 
=======================*/

/*========================= 
 header section starts here 
===========================*/
#header{
    padding: 35px 0;
}
#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav_logo{
    display: flex;
    align-items: center;
    gap: 20px;
}
.nav_logo img{
    width: 100%;
    height: 100%;
}
.nav_logo h2{
    font-size: 2.8rem;
    font-weight: 700;
    color: var(--colot_black);
}
.nav_logo h2 span{
    color: var(--color_secendary);
}
.nav_container{
    display: flex;
    align-items: center;
    gap: 30px;
}
.nav_item{
    color: var(--text-Primary);
    font-size: 1.1rem;
    font-weight: 500;
}
.nav_btn{
    display: flex;
    gap: 20px;
    padding: 10px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
/*========================= 
 header section starts here 
===========================*/
/*========================= 
 banner section starts here 
===========================*/
#banner{
    padding-top: 75px;
}
#banner > .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner_contant{
    width: 50%;
}
.banner_contant h2{
    color: var(--colot_black);
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
}
.banner_contant h1{
    color: var(--colot_praimary);
    font-size: 6.5rem;
    font-weight: 800;
    text-transform: uppercase; 
    margin-left: -10px;
    padding: 15px 0;
}
.banner_contant p{
    font-size: 1.25rem;
    font-weight: 500;
    color: var(--text-Primary);
    padding-bottom: 10px;
}
.btn_container button{
    font-size: 1.25rem;
    font-weight: 600;
    color: #fff;
    padding: 20px 40px;
    margin: 40px 10px 0 0;
    text-transform: uppercase;
    border-radius: 48px;
    -webkit-border-radius: 48px;
    -moz-border-radius: 48px;
    -ms-border-radius: 48px;
    -o-border-radius: 48px;
}
.btn_container .btn_1{
    background-color: var(--color_secendary);
}
.btn_container .btn_2{
    background-color: #4EC5F7;
}
.banner_images{
    width: 50%;
}
.banner_images img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/*========================= 
 banner section ends here 
===========================*/

/*========================= 
 GAMER section starts here 
===========================*/
#gamer{
    padding-top: 55px;
}
#gamer > .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.gamer_image{
    width: 60%;
}
.gamer_image img{
    width: 100%;
    height: 1100%;
    object-fit: cover;
}
.gamer_contant{
    width: 40%;
    text-align: right;
}
.gamer_title{
    font-size: 3rem;
    font-weight: 700;
    color: var(--color_secendary);
}
.gamer_discription{
    padding: 20PX 0 32PX;
    font-size: 1.1rem;
    font-weight: 400;
    color: var(--text-Primary);
}
.gamer_buttom_title{
    padding-top: 25px;
    font-size: 1.5rem;
    font-weight: 500;
}
.gamer_buttom_title small{
    font-size: 1rem;
}
/*======================= 
 GAMER section ends here
=========================*/

/*======================== 
 video section starts here
==========================*/
#video{
    padding-top: 120px;
}
#video > .container{
    text-align: center;
}
.sec_video_title{
    color: var(--colot_black);
    font-size: 3rem;
    font-weight: 700;
}
.sec_video_title span{
    color: var(--color_secendary);
}
.sec_video_discription{
    color: var(--text-Primary);
    font-size: 1.1rem;
    padding: 10px 0 45px;
}
.video_wrapper{
    display: flex;
    gap: 20px;
}
.video_container{
    text-align: left;
}
.video_container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
}
.video_container img:hover{
    background-color: var(--color_secendary);
    border: 5px solid var(--color_secendary);
}
.video_discription{
    color: var(--text-Primary);
    font-size: 1.1rem;
    font-weight: 500;
    margin-top: 10px;
}
/*====================== 
 video section ends here
========================*/
#play_game{
    padding-top: 120px;
}
.play_game_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.play_game_contant{
    width: 50%;
}
.play_game_imag{
    width: 50%;
    position: relative;
}
.play_game_imag img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.absolute{
    position: absolute;
    bottom: -45px;
    left: -90px;
}
.absolute img{
    width: 60%;
    object-fit: cover;
}
/*============================ 
 play_game section starts here
==============================*/

/*============================ 
 feature section starts here
==============================*/
#feature{
    padding: 120px 0;
}
.ftr_wrapper{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}
.ftr_item{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 2px;
    border: 2px solid #fff;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
}
.ftr_item:hover{
    border: 2px solid var(--color_secendary);
}
.ftr_item h3{
    font-size: 1.25rem;
    font-weight: 600;
}
/*======================== 
 feature section ends here
==========================*/

/*========================== 
 play_game section ends here
============================*/

@media screen and (max-width: 575.99px) {
    
}

